{% extends "base.html" %}

{% block content %}

{% if form.errors %}
{% if "Invalid Token Code" in form.non_field_errors %}
<p>Bad Token. Please try again</p>
{%else%}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Newslister Admin Panel
      </h1>
      <h2 class="subtitle">
        Create/Update Users, Passwords, and Secrecy Levels
      </h2>
    </div>
  </div>
</section>

<div class="container">
<div class="content">
<form method="post" action="{% url 'account' %}">
{% csrf_token %}
<table>
<tr>
	<td>{{ form.update_user_select.label_tag }}</td>
	<td>{{ form.update_user_token.label_tag }}</td>
	<td>{{ form.update_user_secrecy.label_tag }}</td>
	<td></td>
</tr>
<tr>
	<td>{{ form.update_user_select}}</td>
	<td>{{ form.update_user_token }}</td>
	<td>{{ form.update_user_secrecy }} </td>
	<td><input type="submit" value="Update"></td>
</tr>
{% for user in users %}
<tr>
	<td>{{ user.username }}</td>
	<td>{{ user.tokenkey }}</td>
	<td>{{ user.secrecy }}</td>
	<td></td>
</tr>
{%endfor%}
</table>


<input type="hidden" name="next" value="{{ next }}">
</form>
</div>
</div>


{% endblock %}